*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box;
  margin: 0 10rem;

  font-family: Gotham Medium, Arial, sans-serif;
}

.module-seperator-line{
  position: relative;

}
.module-seperator-line-text{
  font-size: 1.85rem;
  text-transform: uppercase;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
}


.our-favorites-btn-row{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn {
  border: 1px solid grey;
  font-size: 1.5rem;
  padding: 2.0rem 6rem;
  margin: 1rem;
  text-transform: uppercase;
  color: #777
}

.btn:link, .btn:visited {
  text-decoration: none;
}

.our-favorites-clothing {
  display: flex;
  padding: 2.0rem;
  margin: 0 auto;
  justify-content: center;
}
.our-favorites-clothing-child {
  padding-top: 5rem;
  padding-right: 5rem;
  
}
.favorites-caption, .favorites-cta {
  text-align: center;
  text-transform: uppercase;
}
.favorites-caption {
  padding: 2rem;
  color: #2a2963;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.favorites-cta {
  display: block;
  color: #2a2963;
  font-size: 1.4rem;
  line-height: 1.5;
  
}
.our-favorites-clothing-child img {
  height: 60rem;
}

/* what's new content */
.whats-new-content {
  display: flex;
  justify-content: flex-start;
}

.whats-new-img {
  padding: 2rem;
  height: 52rem;
}

.whats-new-caption {
  padding-top: 20rem;
  text-align: center;
  margin: 0 auto;
}
.whats-new-caption-p {
  text-transform: uppercase;
  color: #2a2963;
  font-size: 2.0rem;
  line-height: 1.5;
  
}
.whats-new-cta {
  text-transform: uppercase;
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  position: relative;
  
}
.whats-new-caption-a {
  text-decoration: none;
  font-weight: 300;
  color: #2a2963;
}
.whats-new-cta:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  left: 0;
  background: #2a2963;
}

/* 365 blog */
.blog-blocks-container {
  padding-top: 1.4rem;
  display: flex;
  /* justify-content: space-evenly; */
}
.blog-block {
  width: 33%;
}
.blog-block-celebrate-container {
  position: relative;
  border: 1px solid gold;
}
.blog-block-celebrate {
  width: 50%;
  height: 100%;
}
.blog-block-celebrate-pink {
  background-color: pink;
  float: left;
}
.blog-block-celebrate-copy {
  float: left;
  
  padding-top: 10rem;
  padding-left: 4rem;
  font-size: 1.4rem;
}
.btn-blog {
  display: block;
  border: 1px solid grey;
  font-size: 1.5rem;
  padding: 2.0rem 6rem;
  margin: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #777;
  text-decoration: none;
}

.blog-block-cheers {
  float: left;
}
.blog-block-cheers-copy {
padding-top: 10rem;
font-size: 1.4rem;
}
.blog-block-gold {
  border: 1px solid #DAA520;
}